<aside id="sidebar">
    <div class="sidenav-outer ps-container">
        <div class="side-menu">
            <div class="menu-body">
                <ul class="nav nav-pills nav-stacked sidenav">
                    <li ng-class="appPModule=='dashboard'?'active':''"> 
                        <a href="#!/index?module=dashboard"> <span class="glyphicon glyphicon-home"></span> </a>
                        <ul class="nested-dropdown animated fadeIn">
                            <li><a ng-class="" href="#!/index?module=dashboard">{{ 'DASHBOARD' | translate }}</a></li>
                        </ul>
                    </li>
                    <li ng-class="appPModule=='customers'?'active':''"> 
                        <a href="#!/index?module=customers"> <span class="fa fa-users"></span> </a>
                        <ul class="nested-dropdown animated fadeIn">
                            <li><a ng-class="" href="#!/index?module=customers">{{ 'CUSTOMERS' | translate }}</a></li>
                        </ul>
                    </li>
                    <li ng-class="appPModule=='notes'?'active':''"> 
                        <a href="#!/index?module=notes"> <span class="fa fa-history"></span> </a>
                        <ul class="nested-dropdown animated fadeIn">
                            <li><a ng-class="" href="#!/index?module=notes">{{ 'NOTES' | translate }}</a></li>
                        </ul>
                    </li>
                    <li ng-class="appPModule=='monitor'?'active':''"> 
                        <a href="#!/index?module=monitor"> <span class="glyphicon glyphicon-dashboard"></span> </a>
                        <ul class="nested-dropdown animated fadeIn">
                            <li><a ng-class="" href="#!/index?module=monitor">{{ 'MONITOR' | translate }}</a></li>
                        </ul>
                    </li>
                    <li ng-class="appPModule=='callhistory'?'active':''"> 
                        <a href="#!/index?module=callhistory"> <span class="glyphicon glyphicon-transfer"></span> </a>
                        <ul class="nested-dropdown animated fadeIn">
                            <li><a ng-class="" href="#!/index?module=callhistory">{{ 'CALLHISTORY' | translate }}</a></li>
                        </ul>
                    </li>
                    <li ng-class="appPModule=='users'?'active':''"> 
                        <a href="#!/index?module=users"> <span class="fa fa-user-circle"></span> </a>
                        <ul class="nested-dropdown animated fadeIn">
                            <li><a ng-class="" href="#!/index?module=users">{{ 'USERS' | translate }}</a></li>
                        </ul>
                    </li>
                    <li ng-class="appPModule=='customer'?'active':''"> 
                        <a href="javascript:void(0)" ng-click="showTabCustomer('new', 0, '')"> <span class="fa fa-folder-o"></span> </a>
                        <ul class="nested-dropdown animated fadeIn">
                            <li><a ng-class="" href="javascript:void(0)">Add Tabs</a></li>
                        </ul>
                    </li>
                    <li ng-class="appPModule=='help'?'active':''"> 
                        <a href="#!/index?module=help"> <span class="fa fa-question-circle-o"></span> </a>
                        <ul class="nested-dropdown animated fadeIn">
                            <li><a ng-class="" href="#!/index?module=help">{{ 'HELP' | translate }}</a></li>
                        </ul>
                    </li>
<!--                    <li> <a ui-sref="elements" href="#/dashboard/form/elements"> <span class="glyphicon glyphicon-equalizer"></span> </a>
                        <ul class="nested-dropdown animated fadeIn">
                            <li class="sidemenu-header ng-binding">Form</li>
                            <li><a ng-class="{active: $state.includes('form')}" ui-sref="elements" href="#/dashboard/form/elements">Form Elements</a></li>
                            <li><a ng-class="{active: $state.includes('form')}" ui-sref="components" href="#/dashboard/form/components">Form Components</a></li>
                        </ul>
                    </li>-->
                    
                </ul>
            </div>
        </div>
        <div class="side-widgets">
            <div class="widgets-content">
                <div class="text-center"> <a ui-sref="profile" href="#/dashboard/profile"><img style="width: 80px" src="public/images/flat-avatar.png" class="user-avatar"></a>
                    <div class="text-center avatar-name">Khong Quoc Toan</div>
                </div>
               
                <div class="news-feed">
                    <div class="feed-header ng-binding">{{ 'NEWS_FEED' | translate }}</div>
                    <div class="feed-content">
                        <ul class="feed">
                            <li> <a>Anna liked StrapUI - Dashboard Themes &amp; Templates.</a> <span class="feed-date">25/4/2015</span> </li>
                            <li> <a>Henna birthday at Mezbaan at 7:00pm.</a> <span class="feed-date">25/4/2015</span> </li>
                            <li> <a>Animesh Saha commented on your post.</a> <span class="feed-date">25/4/2015</span> </li>
                            <li> <a>Server Alert: Need to upgrade your server.</a> <span class="feed-date">25/4/2015</span> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
            <div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div>
        </div>
        <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;">
            <div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div>
        </div>
    </div>
</aside>
